name: Code OSS CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - 'release/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  VSCODE_QUALITY: 'oss'

jobs:
  # -----------------------------------
  # Build & Test Linux
  # -----------------------------------
  linux-build:
    name: Linux Build & Test
    runs-on: [ self-hosted, 1ES.Pool=1es-vscode-oss-ubuntu-22.04-x64 ]
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install Linux deps
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential pkg-config xvfb libgtk-3-0 libxkbfile-dev libnotify-bin libkrb5-dev libgbm1 rpm

      - name: Install Node modules
        run: npm ci

      - name: Transpile
        run: npm run gulp transpile-client-esbuild transpile-extensions

      - name: Build Linux Portables/Installers
        run: npm run gulp vscode-linux-build

      - name: Upload Linux artifacts
        uses: actions/upload-artifact@v5
        with:
          name: linux-artifacts
          path: out/linux

  # -----------------------------------
  # Build & Test macOS
  # -----------------------------------
  macos-build:
    name: macOS Build & Test
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install deps
        run: |
          python3 -m pip install --break-system-packages setuptools
      - name: Install Node modules
        run: npm ci
      - name: Transpile
        run: npm run gulp transpile-client-esbuild transpile-extensions
      - name: Build macOS Portables/Installers
        run: npm run gulp vscode-darwin-build
      - name: Upload macOS artifacts
        uses: actions/upload-artifact@v5
        with:
          name: macos-artifacts
          path: out/darwin

  # -----------------------------------
  # Build & Test Windows
  # -----------------------------------
  windows-build:
    name: Windows Build & Test
    runs-on: [ self-hosted, 1ES.Pool=1es-vscode-oss-windows-2022-x64 ]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install Node modules
        run: npm ci
      - name: Transpile
        run: npm run gulp transpile-client-esbuild transpile-extensions
      - name: Build Windows Portables/Installers
        run: npm run gulp vscode-win32-build
      - name: Upload Windows artifacts
        uses: actions/upload-artifact@v5
        with:
          name: windows-artifacts
          path: out/win32

  # -----------------------------------
  # Create Release & Upload Artifacts
  # -----------------------------------
  create-release:
    name: Create GitHub Release
    needs: [linux-build, macos-build, windows-build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Download Linux artifacts
        uses: actions/download-artifact@v5
        with:
          name: linux-artifacts
          path: release/linux

      - name: Download macOS artifacts
        uses: actions/download-artifact@v5
        with:
          name: macos-artifacts
          path: release/macos

      - name: Download Windows artifacts
        uses: actions/download-artifact@v5
        with:
          name: windows-artifacts
          path: release/windows

      - name: Create Tag
        id: create_tag
        run: |
          VERSION="v$(date +'%Y.%m.%d.%H%M')"
          echo "Tag=$VERSION" >> $GITHUB_OUTPUT
          git tag $VERSION
          git push origin $VERSION

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.create_tag.outputs.Tag }}
          name: ${{ steps.create_tag.outputs.Tag }}
          body: "Automated release of all platforms"
          draft: false
          prerelease: false

      - name: Upload release assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            release/linux/*.tar.gz
            release/linux/*.deb
            release/linux/*.rpm
            release/macos/*.zip
            release/macos/*.dmg
            release/windows/*.exe
            release/windows/*.zip
